
.Rproj.user/9A1A2A86/sources/prop/2F42E7F8
.Rproj.user/9A1A2A86/sources/prop/44D63C2D
.Rproj.user/9A1A2A86/sources/prop/66682AD7
.Rproj.user/9A1A2A86/sources/prop/6E39D3EF
.Rproj.user/9A1A2A86/sources/prop/EDAB6107
.Rproj.user/9A1A2A86/sources/prop/INDEX
.Rproj.user/9A1A2A86/sources/s-4BD30D14/6D211562
.Rproj.user/9A1A2A86/sources/s-4BD30D14/6D211562-contents
.Rproj.user/9A1A2A86/sources/s-4BD30D14/80AEA2D4
.Rproj.user/9A1A2A86/sources/s-4BD30D14/80AEA2D4-contents
.Rproj.user/9A1A2A86/sources/s-4BD30D14/9F0E6CD9
.Rproj.user/9A1A2A86/sources/s-4BD30D14/9F0E6CD9-contents
.Rproj.user/9A1A2A86/sources/s-4BD30D14/B9B46299
.Rproj.user/9A1A2A86/sources/s-4BD30D14/B9B46299-contents
.Rproj.user/9A1A2A86/sources/s-4BD30D14/E71428E
.Rproj.user/9A1A2A86/sources/s-4BD30D14/E71428E-contents
.Rproj.user/9A1A2A86/sources/s-4BD30D14/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
*.Rproj
test.svg
.idea/2018-Challenge.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
setUpCh.pyc
